@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


header img{
    width: 100%;
    display: block; /*Inget mellanrum mellan header och nav*/
    
    
}

/* ----- NAVIGATION ----- */


nav ul{
    margin: 0%;
    padding: 0%;
    padding-bottom: 7px;

    width: 100%;
    height: 30px;
    list-style-type: none;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    
}

nav a{
    font-family: "Rock Salt", cursive;
    color: #B4ED39;
    text-decoration: none;

    height: 100%;
    display: flex;
    align-items: center; /*Centrera upp och ner*/
    justify-content: center; /*Centrera höger-vänster*/
    
}

nav a:hover::before {
    content: ""; /*Behöver content för att kunna displaya bild*/
    display: inline-block; /*Visar bilden på samma rad som länken*/
    width: 50px;
    height: 30px;
    background-image: url("../img/wing-left.png");
    background-size: contain; /*Anpassa bilden i området utan att beskära, skalar ner till rätt size*/
    background-repeat: no-repeat;

}

nav a:hover::after {
    content: ""; /*Behöver content för att kunna displaya bild*/
    display: inline-block; /*Visar bilden på samma rad som länken*/
    width: 50px;
    height: 30px;
    background-image: url("../img/wing-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}


/* ----- BODY ----- */
body {
    margin: 0%;
    background-color: #7c993c;
    
    
}

/* ----- Första sektionen av sidan ----- */
#main{
    background-image: url("../img/Pavag-till-jobb.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    aspect-ratio: 1/1; /*Visar hela bakgrundsbilden, inte bara så mycket av bilden som textfälten är*/

    /*För att kunna sätta text på rätt ställe, dela upp hela main i grids. Forts längre ner...*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

    /*Här placerar jag ut var på griden min text ska vara*/
#main h1 {
    grid-column: 4 / 7;
    grid-row: 3 / 3;
    text-align: center;
}

#main p{
    grid-column: 4/7;
    grid-row: 4/6;
    text-align: center;
}

/* ----- QUIZ ----- */

#quiz {
    background-color: #363947;
    color: #B4ED39;
    
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;

    border-color: #ED8939;
    border-style: dashed;
}

#answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#answers button {
    width: 100%;
}


/* ----- ZigZag bild - text - text - bild ----- */

#zigzag {
    background-image: url("../img/bakgrund1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    aspect-ratio: 1 / 1; /* kvadratiska bilder*/
    object-fit: cover; /* gör så att bilderna inte blir smushade*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#zigzag img {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    justify-self: center;
    align-self: center;
}
#zigzag p {
    justify-self: center;
    align-self: center;
    text-align: center;
}

/* ----- FOOTER ----- */

footer{
    color: #B4ED39;
    background-color: #363947;
    border-color: #ED8939;
    border-style: dashed;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 30px;

}
 footer img{
    width: 25%;
 }